@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header: "Pacifico", cursive;
  --body: "Quicksand", sans-serif;
}

::selection {
  @apply bg-wisteria text-gunmetal-bg;
}

html,
body {
  @apply bg-gunmetal text-slate-200 scroll-smooth;
  font-family: var(--body);
}

h1 {
  @apply text-5xl font-medium;
  font-family: var(--header);
}

h2 {
  @apply text-4xl font-medium underline underline-offset-4 my-5 decoration-wisteria;
  font-family: var(--header);
}

p {
  @apply text-lg lg:text-base text-start font-semibold;
  font-family: var(--body);
}

.main {
  @apply container mx-auto px-3 lg:px-56 text-justify space-y-7;
}

.main__container {
  @apply border px-3 py-5 lg:p-10 rounded-3xl bg-gunmetal-bg border-gray-800 shadow-xl;
}

.icons {
  @apply text-white hover:text-wisteria hover:scale-125 duration-300 text-2xl;
}

.icons img {
  @apply w-5 h-5;
}

/* #redirect {
  @apply relative w-fit block after:block after:content-[''] after:absolute after:h-[3px]
    after:bg-wisteria after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
     after:duration-300 after:origin-center;
} */

#redirect {
  @apply text-xl font-bold focus:bg-wisteria rounded-xl px-3 py-4 hover:bg-wisteria/60 duration-300;
}

.skills__img {
  @apply w-12 lg:w-14 h-12 lg:h-14 border-2 border-gunmetal-bg bg-wisteria/40 rounded-2xl p-1.5 object-fill shadow-inner shadow-gray-950;
}

.projects {
  @apply h-52 lg:h-[300px] w-full object-cover;
}

.overlay {
  @apply absolute inset-0 bg-black/10 duration-500 
  group-hover:bg-gradient-to-b from-transparent to-black/80 flex items-end justify-center p-4 lg:p-5;
}

.overlay span {
  text-shadow: 0 3px 3px black;
  @apply text-2xl text-white font-bold;
  font-family: var(--header);
}

.gif {
  @apply flex justify-center items-center;
}

.gif img {
  @apply w-[300px] h-[259px];
}

.badge {
  padding: 0.3em 0.6em 0.3em;
  @apply bg-slate-600 text-slate-200 font-bold rounded-xl text-xs capitalize items-center;
}

.nav-link {
  @apply relative bg-transparent text-gray-300 hover:text-white px-6 py-4 rounded-full duration-300;
}

#slider {
  @apply top-[50%] left-0 h-[3.30rem] lg:h-[3.35rem] transform -translate-y-1/2 absolute z-0 transition-all duration-300 ease-in-out bg-gradient-to-bl from-purple-500 to-wisteria rounded-full;
}
