@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header: "Pacifico", cursive;
  --body: "Josefin Sans", sans-serif;
}

html,
body {
  @apply m-0 w-full h-full bg-gunmetal text-slate-200;
  font-family: var(--body);
}

h1 {
  @apply text-5xl font-medium;
  font-family: var(--header);
}

h2 {
  @apply text-4xl font-medium underline underline-offset-4 my-5 decoration-wisteria;
  font-family: var(--header);
}

p {
  @apply text-base;
  font-family: var(--body);
}

.main {
  @apply container mx-auto px-[25rem] text-justify space-y-7;
}

.icons {
  @apply border-2 rounded-full p-2.5 hover:border-wisteria hover:bg-wisteria/60 duration-300;
}

.icons img {
  @apply w-5 h-5;
}

li {
  @apply hover:text-wisteria duration-300;
}

.projects {
  @apply h-72 lg:h-[300px] w-full object-cover duration-700 rounded-2xl hover:bg-red-500;
}

.overlay {
  @apply absolute inset-0 bg-black/20 bg-opacity-50 group-hover:bg-wisteria/20 duration-300 rounded-2xl flex items-end justify-center py-5;
}

.overlay span {
  text-shadow: 0 3px 3px black;
  @apply text-2xl text-white font-bold;
}

.gif {
  @apply flex justify-center items-center;
}

.badge {
  @apply bg-slate-600 text-sm text-slate-200 items-center font-bold rounded-md px-1 py-0.5;
}
