---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Work from "../components/Work.astro";
import Pictures from "@/components/Pictures.astro";
---

<Layout title="Home | Portfolio">
  <Navbar />
  <div class="main" id="home">
    <div class="gif">
      <img alt="RaccoonSpaceGif" src="/space.webp" />
    </div>
    <section class="main__container" tabindex="-1">
      <h1 class="pb-2">Erick Ruiz</h1>
      <span class="badge">Software Engineer</span>
      <h2>About</h2>
      <p>
        I hold a bachelor's degree in Software Engineering, where I developed a
        strong foundation in designing and building innovative software
        solutions. Passionate about solving complex problems, I specialize in
        web development and AI technologies, continuously expanding my skills to
        stay at the forefront of industry trends. I enjoy collaborating on
        projects that make an impact and bring creative ideas to life through
        code.
      </p>
      <h2>Skills</h2>
      <div class="skills">
        <Skills />
      </div>
      <h2>Interests</h2>
      <p>
        Beyond my professional pursuits, I am deeply fascinated by emerging
        technologies and their potential to shape the future. I enjoy exploring
        artificial intelligence, cloud computing, and open-source projects. In
        my free time, I like contributing to coding communities, learning new
        programming languages, and experimenting with innovative frameworks to
        enhance my skills.
      </p>
    </section>
    <div class="work">
      <Work />
    </div>
    <div class="pictures">
      <Pictures />
    </div>
    <!-- <Pictures /> -->
  </div>
  <script>
    import { runAnimations } from "../animations.js";
    runAnimations();
  </script>
</Layout>
