---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Work from "../components/Work.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home | Portfolio">
  <div class="main" id="home">
    <Navbar />
    <div class="gif">
      <img alt="RaccoonSpaceGif" src="/space.webp" />
    </div>
    <section class="main__container" tabindex="-1">
      <h1 class="pb-6">Milky-Way</h1>
      <span class="badge">Software Engineer</span>
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
        reiciendis molestias qui sequi tenetur facilis tempore harum praesentium
        ad explicabo eum, repudiandae est eveniet debitis necessitatibus odio in
        sit consequuntur.
      </p>
      <h2>Skills</h2>
      <div class="skills">
        <Skills />
      </div>
      <h2>Interests</h2>
      <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat
        accumsan. Proin semper semper dui nec feugiat. Donec cursus neque id
        aliquet finibus. Morbi facilisis turpis nibh, nec dictum orci dictum
        nec. In hac habitasse platea dictumst. Maecenas mollis turpis vitae
        turpis bibendum, vitae tristique arcu eleifend.
      </p>
    </section>
    <div class="work">
      <Work />
    </div>
  </div>
  <script type="module" src="/src/animations.js"></script>
</Layout>
