---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Show from "../components/Show.astro";
const allProjects = await getCollection("projects");
const pageTitle = "Works";
---

<Layout pageTitle={pageTitle}>
  <section class="main">
    <Navbar />
    <div class="gif">
      <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp" />
    </div>
    <Show />
  </section>
</Layout>
