---
const year = new Date().getFullYear();
---

<section class="main">
  <footer
    class="pt-10 pb-20 lg:py-16 lg:flex justify-between items-center"
    id="footer"
    tabindex="-1"
  >
    <small
      class="block text-center mb-2 lg:mb-0 text-lg lg:text-base text-slate-400"
      >&copy; {year} What by <a
        class="text-wisteria"
        href="https://github.com/ErickRz21">ErickRz21</a
      >. All Rights Reserved.</small
    >
    <ul class="flex justify-center space-x-5">
      <li class="icons">
        <a href="https://github.com/ErickRz21" target="_blank">
          <img src="/github-mark-white.svg" alt="GitHub Logo" />
        </a>
      </li>
      <li class="icons">
        <a href="mailto:erickuriel238@gmail.com">
          <img src="/mail-white.svg" alt="Mail" />
        </a>
      </li>
      <li class="icons">
        <a href="#" target="_blank" class="">
          <img src="/li-in-white.png" alt="LinkedIn Logo" />
        </a>
      </li>
    </ul>
    <h2 class="text-3xl no-underline mb-0 flex justify-center lg:hidden">
      Portfolio
    </h2>
  </footer>
</section>
