---
const year = new Date().getFullYear();
---

<section class="main">
  <footer
    class="pt-10 pb-20 lg:py-20 lg:flex justify-between items-center font-bold"
    id="footer"
    tabindex="-1"
  >
    <small
      class="block text-center mb-2 lg:mb-0 text-lg lg:text-base text-slate-400"
    >
      &copy; {year} Portfolio by
      <a
        class="text-white hover:text-wisteria duration-300"
        href="https://github.com/ErickRz21"
      >
        ErickRz21.
      </a>All Rights Reserved.
    </small>
    <ul class="flex justify-center space-x-5">
      <li class="icons">
        <a
          href="https://github.com/ErickRz21"
          target="_blank"
          aria-label="GitHub"
        >
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li class="icons">
        <a href="mailto:erickuriel238@gmail.com" aria-label="Email">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      <li class="icons">
        <a
          href="https://www.linkedin.com/in/erickrz21"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fa-brands fa-linkedin "></i>
        </a>
      </li>
      <li class="icons">
        <a
          href="https://www.threads.net/@erickrz21"
          target="_blank"
          aria-label="Threads"
        >
          <i class="fa-brands fa-threads"></i>
        </a>
      </li>
    </ul>
    <h2 class="text-3xl no-underline mb-0 flex justify-center lg:hidden">
      Portfolio
    </h2>
  </footer>
</section>
