---
const year = new Date().getFullYear();
---
<section>
<footer class="py-16" id="footer">
  <div>
    <ul class="flex justify-center space-x-5">
      <li class="icons">
        <a href="https://github.com/ErickRz21" target="_blank">
          <img src="/github-mark-white.svg" alt="GitHub Logo" />
        </a>
      </li>
      <li class="icons">
        <a href="mailto:#@gmail.com">
          <img src="/mail-white.svg" alt="Mail" />
        </a>
      </li>
      <li class="icons">
        <a href="#" target="_blank" class="">
          <img src="/li-in-white.png" alt="LinkedIn Logo" />
        </a>
      </li>
    </ul>
    <small class="block text-center mt-5 text-sm"
      >&copy; {year} What by <a
        class="text-wisteria"
        href="https://github.com/ErickRz21">ErickRz21</a
      >. All Rights Reserved.</small
    >
  </div>
</footer>
