<div
  class="bg-gunmetal-bg border border-gray-700 my-0 mx-auto p-10 rounded-3xl shadow-xl space-y-7"
>
  <h2>Projects</h2>
  <div class="grid grid-cols-2 gap-2">
    <a href="/projects/batman" class="relative group block">
      <img
        src="/src/assets/Batman.jpg"
        alt="batman"
        class="projects w-full h-full"
      />
      <div
        class="overlay"
      >
        <span>Batman</span>
      </div>
    </a>
    <img src="/src/assets/Batman.jpg" alt="batman" class="projects" />
    <img src="/src/assets/Batman.jpg" alt="batman" class="projects" />
    <img src="/src/assets/Batman.jpg" alt="batman" class="projects" />
  </div>
</div>
