<div
  class="flex justify-between items-center border sticky mx-auto top-3 px-5 lg:px-10 py-3 rounded-2xl bg-gunmetal-bg border-gray-700 shadow-xl z-10"
>
  <h1 class="text-4xl">
    <a href="/#" id="redirect">What</a>
  </h1>
  <ul class="space-x-3 font-semibold text-xl hidden lg:flex">
    <li><a href="/#projects" id="redirect">Projects</a></li>
    <li><a href="/#footer" id="redirect">Contact</a></li>
  </ul>
</div>
