<div
  class="flex justify-between items-center border sticky mx-auto mb-10 top-3 px-10 py-4 rounded-2xl bg-gunmetal-bg border-gray-700 shadow-xl"
>
  <h1 class="text-2xl font-bold"><a href="/">What </a></h1>
  <ul class="flex gap-3 font-semibold text-md">
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
