<nav
  class="fixed bottom-2 lg:top-2 lg:sticky mx-10 lg:mx-[9rem] left-0 right-0 z-40 bg-gunmetal py-3 rounded-full shadow-lg border border-gray-700"
  role="navigation"
  aria-label="Main navigation"
>
  <ul
    class="relative flex justify-center space-x-0 font-semibold text-lg items-center"
  >
    <!-- Slider indicator -->
    <div id="slider"></div>
    <!-- Navigation links -->
    <li class="hidden lg:block px-6">
      <h2 class="text-2xl no-underline my-0">Portfolio</h2>
    </li>
    <li>
      <a href="/#home" class="nav-link" tabindex="0">Home</a>
    </li>
    <li>
      <a href="/#projects" class="nav-link">Works</a>
    </li>
    <li>
      <a href="/#footer" class="nav-link">Contact</a>
    </li>
  </ul>
</nav>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((link) => {
    link.addEventListener("click", (event) => {
      event.preventDefault(); // Prevent default anchor behavior

      const href = link.getAttribute("href");
      const targetId = href ? href.substring(1) : ""; // Remove '#' from href
      const targetElement = document.getElementById(targetId);

      if (targetElement) {
        targetElement.scrollIntoView({ behavior: "smooth" }); // Smooth scrolling

        // Remove 'active' from all links
        document.querySelectorAll('a[href^="#"]').forEach((item) => {
          item.classList.remove("active");
        });

        // Add 'active' to the clicked link
        link.classList.add("active");
      }
    });
  });

  const navLinks = document.querySelectorAll<HTMLAnchorElement>(".nav-link");
  const slider = document.getElementById("slider") as HTMLElement | null;

  function updateSlider(link: HTMLAnchorElement): void {
    if (slider) {
      const { offsetWidth, offsetLeft } = link; // Get link's dimensions
      slider.style.width = `${offsetWidth}px`;
      slider.style.left = `${offsetLeft}px`;
    }
  }

  // Add focus event listeners to each navigation link
  navLinks.forEach((link) => {
    link.addEventListener("focus", () => updateSlider(link));
  });

  // Set the slider on initial load (default to the first link)
  window.addEventListener("DOMContentLoaded", () => {
    if (slider && navLinks.length > 0) {
      updateSlider(navLinks[0]); // Defaults to the first link
    }
  });
</script>
