<div class="flex justify-between items-center border-2 sticky mx-auto mb-10 top-3 px-10 py-4 bg-neutral-900 rounded-full">
    <h1 class="text-2xl font-bold">What</h1>
  <ul class="flex gap-3 font-semibold text-sm">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>

