<nav
  class="flex justify-between items-center border sticky mx-auto top-3 px-5 lg:px-10 py-3 rounded-2xl bg-gunmetal-bg border-gray-700 shadow-xl z-10"
>
  <h1 class="text-4xl">
    <a href="/#" id="redirect">What</a>
  </h1>
  <ul class="space-x-3 font-semibold text-xl hidden lg:flex">
    <li><a href="/#projects" id="redirect">Projects</a></li>
    <li><a href="/#footer" id="redirect">Contact</a></li>
  </ul>
</nav>

<nav
  class="fixed
  bottom-3
  mx-10
  lg:mx-auto
  my-2
  lg:my-0
  lg:px-6
  left-0
  right-0
  lg:sticky
  lg:top-3
  z-40
  dark:bg-gunmetal-bg
  py-3
  rounded-full
  shadow-lg
  border
  dark:border-gray-700"
>
  <ul class="flex justify-center space-x-0 font-semibold text-lg">
    <li>
      <a
        href="#home"
        class="bg-transparent text-white px-6 py-4 rounded-l-full duration-300 focus:bg-wisteria focus:text-black"
        >Home</a
      >
    </li>
    <li>
      <a
        href="#projects"
        class="bg-transparent text-white px-6 py-4 duration-300 focus:bg-wisteria focus:text-black"
        >Works</a
      >
    </li>
    <li>
      <a
        href="#footer"
        class="bg-transparent text-white px-6 py-4 rounded-r-full duration-300 focus:bg-wisteria focus:text-black"
        >Contact</a
      >
    </li>
  </ul>
</nav>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((link) => {
    link.addEventListener("click", (event) => {
      event.preventDefault(); // Prevent default anchor behavior

      const href = link.getAttribute("href");
      const targetId = href ? href.substring(1) : ""; // Remove '#' from href
      const targetElement = document.getElementById(targetId);

      if (targetElement) {
        targetElement.scrollIntoView({ behavior: "smooth" }); // Smooth scrolling

        // Remove 'active' from all links
        document.querySelectorAll('a[href^="#"]').forEach((item) => {
          item.classList.remove("active");
        });

        // Add 'active' to the clicked link
        link.classList.add("active");
      }
    });
  });
</script>
