<div class="flex justify-evenly">
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Python"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
  />
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Ruby"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ruby/ruby-original.svg"
  />
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="TypeScript"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
  />
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="React"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
  />
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="TailwindCSS"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
  />
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="CSS"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
  />
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="HTML"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
  />
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="JavaScript"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
  />
  <img
    class="skills__img"
    width="46"
    height="46"
    alt="Git"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
  />
</div>
