---
import { getCollection } from "astro:content";

const projects = await getCollection("projects"); // Fetch all projects
---

<div
  class="main__container"
  id="projects"
>
  <h2 class="mt-0">Projects</h2>
  <div class="grid grid-cols-1 lg:grid lg:grid-cols-2 gap-2">
    {
      projects.map(
        (project: {
          slug: any;
          data: {
            image: { url: string | null | undefined; alt: any };
            title: unknown;
          };
        }) => (
          <a href={`/projects/${project.slug}`} class="relative group">
            <img
              src={project.data.image.url}
              alt={project.data.image.alt || "Project image"}
              class="projects"
            />
            <div class="overlay">
              <span>{project.data.title}</span>
            </div>
          </a>
        )
      )
    }
  </div>
</div>
